<div class="center jumbotron">
  <h1>Betting board</h1>

  <h2>
    This will be the home to Joyable's product betting board. Long live gambling.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
