<footer class="footer">
  <small>
    A Q3 2016 Hack Day Project by Pete Shalek
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",    root_path %></li>
      <li><%= link_to "Help",    help_path %></li>
    </ul>
  </nav>
</footer>